mixin button-set(attributeName, count)
  div.button-set-wrapper
    - for (let i = 1; i <= count; i++)
        button( class=`dot-value-button ${attributeName}` name="act_" + attributeName value=i data-name=attributeName)

mixin health-will-set(attributeName, count)
  div.health-will-wrapper
    - for (let i = 1; i <= count; i++)
        button( class=`health-will-button ${attributeName}` name="act_" + attributeName value=i data-name=attributeName data-injury-type="")
